@font-face {
	font-family: "Roadgeek2005SeriesD";
	src: url("http://panic.com/fonts/Roadgeek 2005 Series D/Roadgeek 2005 Series D.otf");
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
fieldset,img {
	border: 0;
}
html, body, #main{
	overflow: hidden;
}
body {
	font-family: 'Roadgeek2005SeriesD', sans-serif;
	color: white;
}
body, html, #main
{
	background: transparent !important;
}
#tasks_container {
	padding: 16px;
	text-align: center;
}
h2 {
	width: 180px;
	margin: 0px auto;
	padding-bottom: 16px;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	color: rgb(0, 159, 153);
}
p {
	padding: 5px 0;
	font-size: 20px;
	line-height: 1.5;
	font-weight: normal;
	color: #fff;
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #333;
}

p span {
	padding-left: 8px;
	font-size: 12px;
	color: #7e7e7e;
}

span.today {
	color: rgb(255, 198, 0);
	font-size: 15px;
}

span.overdue {
	color: rgb(255, 48, 0);
	font-size: 15px;
}

span.soon {
	color: rgb(0, 186, 0);
	font-size: 15px;
}